<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

<style>
  .sidebar-links {
    margin-top: 20px;
  }

  .sidebar-links a {
    display: block;
    margin: 12px 0;
    text-decoration: none;
  }
</style>
  </head>

  <body>
    <div class="wrapper">

      <header>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <h1>{{ site.title | default: site.github.repository_name }}</h1>

        {% if site.description %}
          <p>{{ site.description }}</p>
        {% endif %}

        <div class="sidebar-links">
          <a href="https://github.com/jakubh08" target="_blank">
            💻 GitHub
          </a>

          <a href="https://www.linkedin.com/in/jakub-hajduk-uk/" target="_blank">
            💼 LinkedIn
          </a>

          <a href="mailto:jhajduk0118@gmail.com">
            ✉️ Email
          </a>
        </div>
      </header>

      <section>
        {{ content }}
      </section>

    </div>
  </body>
</html>
